
# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [1]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/romeritomorais/30-day-challenges-with-sql.git
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Neste desafio super fácil, precisamos da contagem dos dados da coluna `Customer.City` onde a contagem é >= a 2 linhas e por ordem alfabetica. 

resultado esperado:  

| City | numero_de_linhas 
|--------------:|--------------
| Berlin        |          2                  
| London        |          2                  
| Mountain View |          2                      
| Paris         |          2                
| Prague        |          2                
| São Paulo     |          2   

Na célula onde se encontra o `%%sql`, escreva sua query, sem deletar o comando. Exemplo:  
```python
%%sql
select * from Customer
```

Para resolução utilize a documentação do sqlite:https://www.sqlite.org/docs.html

In [2]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

In [10]:
# Utilizado a função de agregação COUNT() para verificar a repetição das cidades, AS para renomear o COUNT(), GROUP BY para a agregação 
# e clausula HAVING para filtar cidades que se repetem 2 ou mais vezes.
%%sql
SELECT City, COUNT(City) AS numero_de_linhas 
FROM Customer
GROUP BY City 
HAVING numero_de_linhas >= 2;

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[('Berlin', 2),
 ('London', 2),
 ('Mountain View', 2),
 ('Paris', 2),
 ('Prague', 2),
 ('São Paulo', 2)]